.input_output{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    padding: 10px;
    border: solid 2px #e06969;
    background-color: #fff;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    resize: none;
}